<!DOCTYPE html>
<html lang="en">

<body>

  <!-- Accessed from trainer id -->
<!-- <form action="../saveTrainerChanges.php/?customer_id=<?php echo $customer_id;?>" method="post">  -->
<section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(&quot;<?php echo $profile_img_url;?>&quot;); background-position: 0px 0px;" data-stellar-background-ratio="0.5"> 
  <div class="container">
      <div class="row">
        <div class="col-md-7 probootstrap-intro-text">
          <h1 class="probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">
            <span>first_name</span> 
            last_name
          </h1>
          <div class="probootstrap-subtitle probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">
            <h2>Personal Trainer</a></h2>
          </div>
        </div>
      </div>
    </div>
    <span class="probootstrap-animate fadeInUp probootstrap-animated">
        <a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down <i class="icon-chevron-down"></i></a>
    </span>
</section>
  <!-- END: section -->
  <main>
<form action="" method="post"> 
    <section id="next-section" class="probootstrap-section">
        <div class="container">
            <button type="submit" name="Submit" class="probootstrap-owl-navigation absolute right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Save Changes</button>
            <div class="row probootstrap-gutter60 mb50">
                <div class="col-md-6">
                    <figure><img src="" lt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                </div>
                <div class="col-md-6">
                    <h2 class="probootstrap-heading">About Me</h2>
                    <textarea  class="inputVision" name="about_me" rows="4" cols="50">about_me</textarea>
                </div>
            </div>
            <div class="row probootstrap-gutter60">
                <div class="col-md-4 mb30">
                    <h4 class="mb30">My Mission</h4>
                    <textarea  class="inputVision" name="my_mission" rows="4" cols="50">my_mission</textarea>
                    </div>
                <div class="col-md-4 mb30">
                    <h4 class="mb30">Upcoming Events</h4>
                    <ul class="probootstrap-blog-list">
                        <li>
                            <a href="#">
                                <figure class="probootstrap-image"><img src="img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4>Initial into the belt and made herself</h4>
                                    <span class="meta">September, 14 2017</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="probootstrap-image"><img src="img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4>Far far away behind the word mountains</h4>
                                    <span class="meta">September, 14 2017</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="probootstrap-image"><img src="img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4>Bookmarksgrove right at the coast of the Semantics</h4>
                                    <span class="meta">September, 14 2017</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb30">
                    <h4 class="mb30">My Vision</h4>
                    <textarea class="inputVision" name="my_vision" rows="4" cols="30">my_vision</textarea>
                </div>
            </div>
        </div>
    </section>
    </form>
    <section id="next-section" class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 probootstrap-relative">
          <h2 class="probootstrap-heading mt0 mb50">Programs (For Beginners)</h2>
          <ul class="probootstrap-owl-navigation absolute right">
            <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 probootstrap-relative">
          <!-- <div class="owl-carousel owl-carousel-carousel owl-theme owl-loaded"> -->
          <div class="owl-carousel owl-carousel-carousel">
        
                  <div class="item">
                    <div class="probootstrap-program">
                      <a href="#"><img src="<?php echo $post_img_url;?>" alt="<?php echo $post_title;?>" class="img-responsive img-rounded"></a>
                      <h3>post_title</h3>
                      <p>$post_price</p>
                      <p>post_description </p>
                    </div>
                  </div>
                 
              </div>
            </div>
          </div>
        </div>
      </div> 
  </section>
</main>
</body>
</html>
