<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live W.O.W.</title>
    <meta name="description" content="">    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../trainer/css/styles-merged.css">
    <link rel="stylesheet" href="../trainer/css/style.min.css">
    <link rel="stylesheet" href="../trainer/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Creates a drop down menu for cart -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <!-- To add and clear items from booking/cart -->
  <script type="text/javascript" src="../trainer/js/vendor/jquery.min.js"></script>
</head>
<body>
<%- include('../partials/header.ejs')%>

  <!-- START: section -->
<section class="probootstrap-intro probootstrap-intro-inner" 
    style="background-image: url(&quot;&quot;); background-position: 0px 0px;" data-stellar-background-ratio="0.5"> 
  <div class="container">
      <div class="row">
        <div class="col-md-7 probootstrap-intro-text">
          <h1 class="probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn" style="color:rgb(255, 255, 255);">
            <span>First  name</span>
            last name  
          </h1>
          <div class="probootstrap-subtitle probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">
            <h2 style="color:rgb(255, 255, 255);">Personal Trainer</a></h2>
          </div>
        </div>
      </div>
    </div>
    <span class="probootstrap-animate fadeInUp probootstrap-animated">
        <a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down <i class="icon-chevron-down"></i></a>
    </span>
</section>
  <!-- END: section -->
<main>
  <section id="next-section" class="probootstrap-section">
        <div class="container">
            <a href='' class="probootstrap-owl-navigation absolute right"><button><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Content</button></a>
            <div class="row probootstrap-gutter60 mb50">
            <div class="col-md-6">
          <figure><img src="" lt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
        </div>
        <div class="col-md-6">
          <h2 class="probootstrap-heading">About Me</h2>
            About Me
         </div>
      </div>
      <div class="row probootstrap-gutter60">
        <div class="col-md-4 mb30">
          <h4 class="mb30">My Mission</h4>
          <div>
            My Mission
          </div>
         </div>
        <div class="col-md-4 mb30">
          <h4 class="mb30">Upcoming Events</h4>
          <ul class="probootstrap-blog-list">
            <li>
              <a href="#">
                <figure class="probootstrap-image"><img src="../trainer/img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h4>Initial into the belt and made herself</h4>
                  <span class="meta">September, 14 2017</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="probootstrap-image"><img src="../trainer/img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h4>Far far away behind the word mountains</h4>
                  <span class="meta">September, 14 2017</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="probootstrap-image"><img src="../trainer/img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h4>Bookmarksgrove right at the coast of the Semantics</h4>
                  <span class="meta">September, 14 2017</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb30">
          <h4 class="mb30">My Vision</h4>
          <div>
            My Vision
          </div>
          <!-- <p>“The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.”</p> -->
        </div>
      </div>
    </div>
  </section>
  <section id="next-section" class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 probootstrap-relative">
          <h2 class="probootstrap-heading mt0 mb50">Programs (For Beginners)</h2>
          <ul class="probootstrap-owl-navigation absolute right">
            <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 probootstrap-relative">
          <!-- <div class="owl-carousel owl-carousel-carousel owl-theme owl-loaded"> -->
          <div class="owl-carousel owl-carousel-carousel">
        <!-- -->
                  <div class="item">
                    <div class="probootstrap-program">
                      <a href="#"><img src="" alt="" class="img-responsive img-rounded"></a>
                      <h3>Title</h3>
                      <p>Price</p>
                      <p>Post description</p>
                    </div>
                  </div>
        <!-- -->

              </div>
            </div>
          </div>
        </div>
      </div> 
  </section>
  </main>
<%- include('../partials/footer.ejs') %>
</body>
</html>
